## Client credentials authentication
SN_AUTH_TYPE=client_credentials
SN_CLIENT_ID=client_id
SN_CLIENT_SECRET=client_secret
SN_INSTANCE_URL=https://your-instance.service-now.com

## Now SDK authentication
SN_AUTH_TYPE=now-sdk
SN_AUTH_ALIAS=default